<form class="form-inline" role="form">
<div class="form-group col-md-5">

	<textarea 
		ng-model="plaintext"
		ng-model-options="{
			updateOn: 'default blur',
			debounce: {
					default : 500,
					blur: 0
				}
			}"
		ng-change="update()"
		ng-required="true"
	>
	</textarea>

</div>

<div class="form-group col-md-2">
	<div class="row">
		<div class="col-md-12">
			<label for="shift">
				Chose a shift
			</label>

			<input id="shift" type="number"
				ng-model="shift"
				ng-required="true"
			/>

		</div>	
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				
				<button
					ng-disabled='!plaintext || !shift'
					ng-click="encode()"
					class="btn btn-primary btn-block"
					>
						Encode
				</button>
				
			</div>
			<div class="row">
				
				<button
					ng-disabled='!plaintext || !shift'
					ng-click="decode()"
					class="btn btn-primary btn-block"
					>
						Decode
				</button>
				
			</div>
		</div>
	</div>
</div>

<div class="form-group col-md-5">

	<textarea
		ng-model="result"
		ng-disabled="true"
	>
		{{result}}
	</textarea>

</div>
	
</form>